@model IEnumerable<John_Doe_Food_Ltd.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierId })
        </td>
    </tr>
}

</table>
